.headerMenu {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}
.headerMenuContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
}
.menuList {
  display: flex;
  align-items: center;
}
.menuList li {
  padding: 1rem;
}
