.testContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  margin-bottom: 1rem;
}

.testContainerItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
