.navContaiener {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}
.headerMenuContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  align-items: center;
}
.menuList {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.menuList li {
  padding: 1rem;
  cursor: pointer;
}

.moreInfoHeader {
  display: flex;
  align-items: center;
}

.moreInfoHeader a {
  margin-left: 1rem;
}

.menuLink {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 700;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 760px) {
  .headerMenu {
    display: none;
  }
}
