.contactUsContainer {
  width: 100%;
  height: 70vh;
  perspective: 1000px;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
}

.contactsBgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactUsContent {
  position: absolute;
  display: block;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactUsTitle {
  color: white;
  font-size: 50px;
  width: 40vw;
}

.agitka {
  display: block;
  font-size: 32px;
  color: white;
}

.agitkaButton {
  width: 100%;
  padding: 1rem;
  background-color: black;
  border-radius: 1rem;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 1.5rem;
  text-align: left;
}

.contactFilter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
