h1,
h2,
h3,
h4,
p,
ul,
li,
body,
section {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

:root {
  --main-orange: #ff6900;
  --main-green: #d1cc00;
  --main-pink: #cc87c4;
  --main-black: #231f20;
}

p {
  font-size: 12pt;
}

h1,
h2,
h3 {
  font-size: 32px;
}

span {
  display: block;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  margin-left: 40px;
  margin-right: 40px;
}

.container-border {
  border-left: 3px solid var(--main-orange);
}

.currentGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.section-green {
  background-color: var(--main-green);
}

.basic-button {
}

@media screen and (max-width: 1280px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
