.contactUsContainer {
  background-color: #efccd9;
  border-radius: 1rem;
  padding: 2rem;
  color: black;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.contactUsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  z-index: 1;
}

.contactUsLogo {
  text-align: right;
}

.contactUsText {
  font-size: 50px;
  font-weight: 500;
}

.contactUsTitle {
  font-size: 40px;
}

.buttonContactsSection {
  z-index: 1;
}

.contactsButton {
  background-color: black;
  width: 100%;
  color: white;
  text-align: left;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 25px;
  margin-top: 1rem;
}
